#root {
  max-width: 1280px;
  margin: 2 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #F7F7F7;
  color: black;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.form-button {
  background-color: #517AA1;
  color: white;
  margin: 1rem;

}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: white;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

img {
  width: 200px;
  
}