#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: white;
  color: black;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.form-button {
  background-color: #517AA1;
  color: white;
  margin: 1rem;

}


/* -----styles for UI form-------- */
.breaking-news {
 
}
.form {
  align-items: center;
  padding: 2rem;
  text-align: left;
  box-shadow: -2px 3px 1px 4px #F7F7F7;
  border-radius: 8px;
}
/* .form p {
  text-align: left;
  
} */
.news-card {
  text-align: left;
  
}
.no-news-found {
  text-align: left;
  padding: 32px;
  box-shadow: -2px 3px 20px 4px #F7F7F7;
  border-radius: 8px;
}
/* -------styles for each new article card item -------*/
.card {
  /* padding: 2em; */
  background-color: white;
  text-align: left;
}

.read-the-docs {
  color: #888;
}

/* resizing images from API call */
img {
  width: 200px;
  
}
/* white background */
body {
  background-color: #F7F7F7;
}